################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApplicationInsights-MVC-Application/.vs
/ApplicationInsights-MVC-Application/ApplicationInsights-MVC-Application/bin
/ApplicationInsights-MVC-Application/ApplicationInsights-MVC-Application/obj
/ApplicationInsights-MVC-Application/packages
